<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <context-param>
        <param-name>contextParam</param-name>
        <param-value>contextParam</param-value>
    </context-param>

    <!--注册Listener-->
    <listener>
        <listener-class>com.jason.lee.listener.ContextListener</listener-class>
    </listener>

    <!--注册Filter及url-->
    <filter>
        <filter-name>HelloFilter</filter-name>
        <filter-class>com.jason.lee.filter.HelloFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HelloFilter</filter-name>
        <url-pattern>/HelloServlet</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>com.jason.lee.filter.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <!--精确配置：URL／Servlet-->
        <url-pattern>/HelloServlet</url-pattern>
        <servlet-name>HelloServlet</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>HttpFilterTest</filter-name>
        <filter-class>com.jason.lee.filter.HttpFilterTest</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HttpFilterTest</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--注册Servlet及url-->
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.jason.lee.servlet.HelloServlet</servlet-class>
        <init-param>
            <param-name>servletParam</param-name>
            <param-value>servletParam</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FinalServlet</servlet-name>
        <servlet-class>com.jason.lee.servlet.FinalServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FinalServlet</servlet-name>
        <url-pattern>/FinalServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.jason.lee.servlet.TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.jason.lee.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.jason.lee.servlet.RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>com.jason.lee.servlet.CookieServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/CookieServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>com.jason.lee.servlet.SessionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/SessionServlet</url-pattern>
    </servlet-mapping>

    <!--设置Session非活动时间（分钟）-->
    <!--    <session-config>-->
    <!--        <session-timeout>30</session-timeout>-->
    <!--    </session-config>-->

    <servlet>
        <servlet-name>ReSubmitServlet</servlet-name>
        <servlet-class>com.jason.lee.servlet.ReSubmitServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReSubmitServlet</servlet-name>
        <url-pattern>/ReSubmitServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>com.jason.lee.servlet.AjaxServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/AjaxServlet</url-pattern>
    </servlet-mapping>

</web-app>

